* {
    box-sizing: border-box;
    font-family: monospace;
    margin-bottom: 2rem;
}

h1 {
    color: #1a2c6c;
}

body {
    font-size: 1.6rem;
    background-color: #efeeda;
    overflow-x: hidden; /* no horizontal scrolling */
}

.container {
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    border-left: 4px solid #f7941d;
    padding-left: 1rem;
    font-style: italic;
    color: #555;
    margin-left: 0;
}

pre > code {
    display: block;
    background-color: #eeeeee;
    padding: 10px;
    border: 3px solid #ddd;
    white-space: pre-wrap; /* if not things like the move exceed the code block */
}

a {
    color: #f7941d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 70ch;
    height: auto;
}